/*
    Reset css
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {

}

.clear{
    clear: both;
}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    position: relative;
    display: inline-block;
}

#nav li a {
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 15px;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav #subnav li:hover a,
#nav li:hover > a {
    color: black;
    background-color: #ccc;
}

#nav li:hover #subnav {
    background-color: white;
    display: block;
}

#nav #subnav{
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
}

#nav #subnav a {
    height: 38px;
    line-height: 38px;
    color: black;
    min-width: 140px;
    padding: 0 12px;
}

#subnav {
    display: none;
    box-shadow: 0 0 10px #666;
}

#header .search-btn {
    float: right;
    height: 46px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: white;
    line-height: 46px;
    padding: 0 23px;
}



#slider {
    position: relative;
    margin-top: 46px;
    background: url('/asset/img/slider/slider1.jpg') top center / cover no-repeat;
    padding-top: 50%;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

#slider .text-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: normal;
}

#slider .text-description {
    font-size: 15px;
    font-weight: bolder;
    
}


#content {

}

#content .content-section {
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    max-width: 800px;
}

#content .content-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#content .content-sub-heading {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    margin: 15px 0;
}

#content .about-section {
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin: 15px 0;
}

#content .member-list {
    padding: 32px 0;
}

#content .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-name {
    margin: 15px 0;
    font-size: 15px;
}

#content .member-img {
    width: 153px;
    height: 153px;
    margin: 0 0 16px;
    border-radius: 4px;
}


#fotter {

}
