/*
    Reset css
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common*/

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.col {
    float: left;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 16px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

/*  Main */

#main {}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    position: relative;
    display: inline-block;
}

#nav li a {
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 15px;
}

#nav>li>a {
    text-transform: uppercase;
}

#nav #subnav li:hover a, #nav li:hover>a {
    color: black;
    background-color: #ccc;
}

#nav li:hover #subnav {
    background-color: white;
    display: block;
}

#nav #subnav {
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
}

#nav #subnav a {
    height: 38px;
    line-height: 38px;
    color: black;
    min-width: 140px;
    padding: 0 12px;
}

#subnav {
    display: none;
    box-shadow: 0 0 10px #666;
}

#header .search-btn {
    float: right;
    height: 46px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: white;
    line-height: 46px;
    padding: 0 23px;
}

#slider {
    position: relative;
    margin-top: 46px;
    background: url('/asset/img/slider/slider1.jpg') top center / cover no-repeat;
    padding-top: 50%;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

#slider .text-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: normal;
}

#slider .text-description {
    font-size: 15px;
    font-weight: bolder;
}

#content {}

#content .content-section {
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    max-width: 800px;
}

#content .content-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#content .content-sub-heading {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    margin: 15px 0;
}

#content .about-section {
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin: 15px 0;
}

#content .member-list {
    padding: 32px 0;
}

#content .member-name {
    margin: 15px 0;
    font-size: 15px;
}

#content .member-img {
    width: 153px;
    height: 153px;
    margin: 0 0 16px;
    border-radius: 4px;
}

#content .tour-section {
    background-color: black;
}

#content .tickets-list {
    margin: 40px 0 0;
    background-color: white;
    font-size: 15px;
}

#content .tickets-list li {
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
    line-height: 22px;
    list-style: none;
    color: #757575;
}

#content .sold-out {
    background-color: #f44336;
    color: white;
    margin-left: 16px;
    padding: 2px 8px;
}

#content .quatity {
    width: 24px;
    height: 22px;
    background-color: black;
    float: right;
    color: white;
    text-align: center;
    border-radius: 50%;
}

#content .places-list {
    padding: 32px 0;
    font-size: 15px;
}

#content .place-img {
    display: block;
    width: 100%;
}

#content .place-img:hover {
    opacity: 0.6;
}

#content .place-body {
    background-color: white;
    padding: 16px;
}

#content .place-heading {
    margin: 15px 0;
}

#content .place-time {
    margin: 15px 0;
    opacity: 0.6;
}

#content .place-desc {
    margin: 15px 0;
}

#content .place-buy-btn {
    display: inline-block;
    background-color: black;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
}

#content .place-buy-btn:hover {
    background-color: #ccc;
    color: black;
}

#fotter {}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.modal-container {
    background-color: #fff;
    position: relative;
    width: 900px;
    min-height: 200px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 17px 17px;
    display: block;
    cursor: pointer;
}

.icon-heading-modal {
    margin-right: 16px;
}

.modal-close:hover {
    background-color: #ccc;
}



.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 46px;
    background-color: #009688;
    color: white;
    font-size: 30px;
}

.modal-body {
    padding: 16px;
}

.title-modal {
    display: block;
    margin-top: 16px;
}

.input-modal {
    padding: 10px;
    border: solid #ccc;
    border-width: 1px;
    width: 100%;
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.pay-modal {
    background-color: #009688;
    margin-top: 15px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}

.pay-modal:hover {
    background-color: #ccc;
}

.icon-check-pay-modal {
    margin-left: 10px;
}

.modal-footer{
    padding: 15px;
    text-align: right;
}

.modal-footer a {
    color: #2196f3;
}